/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Import google font name slot
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


//CORRECTION DETAIL GREG
:focus-visible{
  outline: none;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
  -webkit-background-clip: text !important;
}

// correction marge
.accordion-body{
  padding: 0 !important;
}

// suppression ligne border top table
.table th{
  border-top: 0 !important;
}

.btn{
  text-transform: none !important;
}

.btn-light:hover, .btn-light:active, .btn-light:focus{
  background-color: transparent !important;
}

button {
  border-radius: 2rem !important;
}

body{
  //background-image:url("assets/img/losange_gris.jpg");
  //background-size: 100%;
  //overflow-y: scroll;


}

.imgHistorique{
  max-width: 25% !important;
}
