
.h1{
  font-size: 5rem !important;
}


.rouleau{
  text-align: center;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,0.6194852941176471) 0%, rgba(255,255,255,0.9920343137254902) 20%, rgba(255,255,255,1) 80%, rgba(0,0,0,0.6222864145658263) 100%);
}

.animationWin{

  animation: spin 2s linear;

}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
